<!DOCTYPE html>
<html>

<head>
    <title>BLOOM - Trang chủ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../public/images/logo_white.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/menuStyle.css">
    <link rel="stylesheet" href="../public/stylesheets/withdrawalStyle.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://kit.fontawesome.com/867a38eeb9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
</head>

<body>


    <div class="container-fluid">
        <div id="mySidebar" class="sidebar">
            <span id="logo"><img src="../public/images/logo_white.png" alt="" width="80" height="100"></span>
            <h2>BLOOM</h2>
            <input type="checkbox" id="action" value=""><label for="action"><span></span></label>
            <a href="/" class="menu active"><i class="fas fa-home"></i><span>&nbsp;&nbsp;Trang chủ</span></a>
            <a href="/search" class="menu"><i class="fas fa-search"></i><span>&nbsp;&nbsp;Tìm kiếm</span></a>
            <a href="/about" class="menu"><i class="fas fa-info-circle"></i><span>&nbsp;&nbsp;Về chúng tôi</span></a>
        </div>

        <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
            <div class="progressbar_container">
                <ul class="progressbar">
                    <li class="active first">Chốt dự án</li>
                    <li class="second">Rút tiền</li>
                    <li class="third">Đang giao</li>
                    <li class="forth">Đánh giá</li>
                </ul>
            </div>
            <form class="withdrawal-form needs-validation" novalidate action="#" onsubmit="return false;">
                <h1 class="text-center">Giao dịch rút tiền</h1>
                <p>Họ và Tên: <span></span></p>
                <p>Số dư tài khoản của dự án: <span></span></p>
                <p>Tên dự án: <span></span></p>
                <div class="mb-3 has-validation">
                    <label for="exampleFormControlInput1" class="form-label">Giá trị</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Giá trị giao dịch" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập giá trị
                    </div>
                </div>
                <label for="_password" class="form-label">Mật khẩu</label>
                <div class="input-group mb-3">
                    <input autocomplete="off" type="password" class="form-control" id="_password" placeholder=" Password" aria-label="Username" required>
                    <span class="input-group-text input-icon"><input type="checkbox" id="eye" value=""><label
                            for="eye"><span></span></label>
                    </span>
                    <div class="invalid-feedback">
                        Vui lòng nhập mật khẩu
                    </div>
                </div>
                <div class="mb-3 has-validation">
                    <label for="exampleFormControlTextarea1" class="form-label">Lí do</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập lí do
                    </div>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" id="inputGroupFile01" multiple>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Rút tiền</button>
                </div>
            </form>
        </div>
        <footer>
            <div class="navigation text-center">
                <a href="/">Trang chủ</a> <i class="fas fa-circle"></i>
                <a href="/search">Tìm kiếm</a> <i class="fas fa-circle"></i>
                <a href="/about">Về chúng tôi</a>
            </div>
            <div class="rounded-social">
                <a href="https://www.facebook.com/qpankcosmetic/" class="fa fa-facebook media" id="fb"></a>
                <a href="https://www.instagram.com/qpankcosmetic/" class="fa fa-instagram media" id="ins"></a>
                <a href="https://www.pinterest.com/qpankcosmetic/_created/" class="fa fa-pinterest media" id="pin"></a>
            </div>
            <p class="text-center">Designed with <i class="far fa-heart"></i> by BLOOM</p>
            <p class="rights">&copy;BLOOM All Rights Reserved.</p>
            <hr>

            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <h5>ĐĂNG KÝ</h5>
                    <div class="subcribe">
                        <input type="text" placeholder="Email" />
                        <button class="submit fas fa-paper-plane"></button>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 contact">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h5>LIÊN HỆ</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fas fa-envelope"></i></td>
                                <td>Bloom@gmail.com</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-phone-alt"></i></td>
                                <td>(84)13 456 789</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", () => {
            loader.style.display = "none";
        })
    </script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="../public/javascripts/menuScript.js"></script>
    <script src="../public/javascripts/LoginScript.js"></script>
</body>

</html>