body {
    margin-top: 2em;
    /* background-color: #ffe4e1; */
    background-color: #b9eede;
}

.demo {
    position: relative;
    top: 0;
    left: 0;
}

.demo .icon-check {
    position: relative;
    top: 0;
    left: 0;
    right: inherit;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 1;
    border: 5px #32cd32 solid;
    color: #32cd32;
    padding-top: 0;
    text-align: center;
    font-size: 60px;
    background-color: #fff;
}

.demo .noti {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    width: 450px;
    min-height: 500px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding-top: 55px;
    padding-bottom: 20px;
    border-radius: 2em;
}

.demo .noti h5 {
    background-color: #efefef;
    color: #999999;
    padding: 5px;
    padding-left: 20px;
}

.demo .noti p {
    padding-left: 20px;
}